.wrapper {
  border-radius: 8px;

  background-color: white;

  .image {
    & > img {
      border-radius: 8px 8px 0 0;
      width: 100%;
    }
  }

  .detail {
    padding: 10px;

    div + div {
      margin-top: 10px;
    }

    .title {
      font-weight: 600;
    }

    .description {
      color: lightgray;
    }

    .button {
      border: 1px solid gray;
      border-radius: 5px;

      background-color: lightgray;

      padding: 10px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
