.image {
  & > img {
    border-radius: 8px 8px 0 0;
    width: 100%;
  }
}

.detail {
  padding: 10px;

  .title {
    margin-bottom: 10px;
  }

  .price {
    display: flex;
    align-items: baseline;

    .finalPrice {
      font-size: 20px;
      margin-right: 10px;
    }

    .beforePrice {
      font-size: 18px;
      margin-right: 10px;
    }

    .discount {
      color: red;
    }
  }

  .description {
    color: lightgray;
  }
}

.line {
  background-color: lightgray;
  height: 1px;
  margin: 10px 0;
}
