.wrapper {
  display: flex;
  justify-content: space-between;

  padding-top: 10px;

  .content {
    & > div {
      width: fit-content;
      padding-top: 10px;
    }
  }

  .image {
    display: flex;
    align-items: center;

    width: 30%;

    margin-left: 10px;
    padding: 5px;

    & > img {
      border-radius: 8px;
      width: 100%;
      height: 100%;
    }
  }
}
